<div class="card shadow mb-4">
  <a class="btn-primary" id="addClientBtn" href="/clients/new">
    <i class="fas fa-plus"></i> Nouvelle Reparation
  </a>
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Liste des Reparations</h6>
  </div>
  <div class="card-body">
    <!-- Table -->
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Ordinateur ID</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Price</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="reparation : ${reparations}">
          <td th:text="${reparation.idReparation}"></td>
          <td th:text="${reparation.idOrdinateur}"></td>
          <td th:text="${reparation.dateDebut}"></td>
          <td th:text="${reparation.dateFin}"></td>
          <td th:text="${reparation.prixReparation}"></td>
          <td th:text="${reparation.statut ? 'Completed' : 'Pending'}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
