<div class="card-body">
    <h1 th:text="${composant.idComposant == null} ? 'Ajouter un Composant' : 'Modifier un Composant'"></h1>
    <form th:action="${composant.idComposant == null} ? @{/composants} : @{/composants/{id}(id=${composant.idComposant})}" method="post">
        <div class="form-group">
            <label for="nomComposant">Nom du Composant :</label>
            <input type="text" class="form-control" id="nomComposant" name="nomComposant" th:value="${composant.nomComposant}" required />
        </div>
        <div class="form-group">
            <label for="pu">Prix Unitaire :</label>
            <input type="number" class="form-control" id="pu" name="pu" th:value="${composant.pu}" required />
        </div>
        <button type="submit" class="btn btn-primary">
            <span th:text="${composant.idComposant == null} ? 'Ajouter' : 'Mettre à jour'"></span>
        </button>
    </form>
</div>