<div class="card shadow mb-4">
  <a class="btn btn-primary mb-4" href="/composants/new">
    <i class="fas fa-plus"></i> Nouveau Composant
  </a>
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Liste des Composants</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Nom Composant</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="composant : ${composants}">
            <td th:text="${composant.nomComposant}"></td>
            <td>
              <div class="btn-group">
                <!-- Bouton Éditer -->
                <a th:href="@{/composants/{id}/edit(id=${composant.idComposant})}" class="btn btn-sm btn-outline-primary">
                  <i class="fas fa-edit"></i>
                </a>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
