<div class="card shadow mb-4">
  <a class="btn-primary" href="/recommandations/new">
    <i class="fas fa-plus"></i> Nouveau Recommandation
  </a>
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Liste des Composants</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Composant</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="recommandation : ${recommandations}">
            <td th:text="${recommandation.idComposant}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
