<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Détails de la Recommandation</h6>
  </div>
  <div class="card-body">
    <h4>Informations de la recommandation</h4>
    <p><strong>ID Recommandation :</strong> <span th:text="${recommandation.idRecommandation}"></span></p>
    <p><strong>Date :</strong> <span th:text="${recommandation.date}"></span></p>
    <p><strong>Composant :</strong> <span th:text="${composant.nomComposant}"></span></p>
  </div>
</div>